 @model IEnumerable<PracticeAdila.Data.Restaurant>

    @{
        ViewData["Title"] = "Index";
}

    <h1>Index</h1>

    <a asp-action="create">Create new</a>

    <div>

    <table>
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Name)</th>
                <th>@Html.DisplayNameFor(model => model.City)</th>
                <th>@Html.DisplayNameFor(model => model.Country)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var restaurant in Model) {
            <tr>
                <td>@Html.DisplayFor(modelItemasdasd => restaurant.Name)</td>
                <td>@Html.DisplayFor(modelItem => restaurant.City)</td>
                <td>@Html.DisplayFor(modelItem => restaurant.Country)</td>
            <td>
                <a asp-action="Edit" asp-route-id="@restaurant.Id">Edit</a>  
                <a asp-action="Details" asp-route-id="@restaurant.Id">Details</a>  
                <a asp-action="Delete" asp-route-id="@restaurant.Id">Delete</a>
            </td>
            </tr>
            }
        </tbody>
    </table>

</div>