@model IEnumerable<PracticeAdila.Data.Restaurant>
@*@{
    ViewData["Title"] = "sahasdpohuds";
}*@

<h1>Restaurant overview</h1>

<h2>@ViewBag.TitleViewBag</h2>

@foreach (var item in @ViewBag.TwoWords)
{
    <p>@item.ToString()</p>
}

@ViewData["Dinosaur"]

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Country)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>                    
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
            </td>
        </tr>
    }
    </tbody>
    </table>